
  <body>
    <div class="login-card">
      <div class="card-image">
        <!-- Replace 'your-image-url.jpg' with your image path -->
        <img
          src="/assets/login.webp"
          alt="Login Visual"
        />
      </div>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <h2>Login</h2>
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" />
          </div>
          <button type="submit">Log In</button>
        </form>
      </div>
    </div>
  </body>
